<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3-0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,609},{145,195}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{145,195}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{141,197}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{141,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,207},{141,197}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{141,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-0-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,410},{141,197}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{141,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-0-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,201},{143,195}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{143,195}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-0-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,406},{143,195}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{143,195}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{147,193}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{147,193}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,197},{147,193}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{147,193}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,398},{147,193}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{147,193}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,197},{147,193}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{147,193}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{147,193}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{147,193}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,798},{143,193}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,8},{143,193}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,197},{145,187}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{145,187}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{145,185}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{145,185}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,392},{145,189}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{145,189}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,798},{143,191}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{143,191}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,593},{145,189}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{145,189}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,603},{147,193}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{147,193}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,203}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{143,203}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{141,201}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,5},{141,201}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{137,201}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,5},{137,201}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{137,201}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,5},{137,201}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{137,201}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,5},{137,201}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-4-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,806},{147,193}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{147,193}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,191},{141,187}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{141,187}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,583},{143,187}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{143,187}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,784},{143,187}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{143,187}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{143,187}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{143,187}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,386},{141,187}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{141,187}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>3-4-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{147,193}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{147,193}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player-3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efddfce2d71c27f5a9ab124e7033fdb9$</string>
            <key>textureFileName</key>
            <string>player-3.png</string>
        </dict>
    </dict>
</plist>
