<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card42.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,877},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>card45.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,702},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>card46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>card47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>card48.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,527},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>card49.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,431},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>card50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>card51.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,352},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>card52.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,288},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>card53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>card54.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,177},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>card55.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,145},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>card56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>card57.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>cardback.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
            <key>p_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,173}}</string>
                <key>sourceSize</key>
                <string>{141,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardLayer2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a8dae8bc72914516f29e3bdef86b2f5$</string>
            <key>textureFileName</key>
            <string>CardLayer2.png</string>
        </dict>
    </dict>
</plist>
