<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>score-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,437},{143,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,73}}</string>
                <key>sourceSize</key>
                <string>{143,75}</string>
            </dict>
            <key>score-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,292},{143,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,73}}</string>
                <key>sourceSize</key>
                <string>{143,75}</string>
            </dict>
            <key>score-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,147},{143,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,73}}</string>
                <key>sourceSize</key>
                <string>{143,75}</string>
            </dict>
            <key>score-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,79},{143,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,73}}</string>
                <key>sourceSize</key>
                <string>{143,75}</string>
            </dict>
            <key>score-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,79},{143,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,73}}</string>
                <key>sourceSize</key>
                <string>{143,75}</string>
            </dict>
            <key>score-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{143,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,73}}</string>
                <key>sourceSize</key>
                <string>{143,75}</string>
            </dict>
            <key>score-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{143,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,73}}</string>
                <key>sourceSize</key>
                <string>{143,75}</string>
            </dict>
            <key>score-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{143,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,73}}</string>
                <key>sourceSize</key>
                <string>{143,75}</string>
            </dict>
            <key>score-3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{143,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,73}}</string>
                <key>sourceSize</key>
                <string>{143,75}</string>
            </dict>
            <key>score-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{143,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,75}}</string>
                <key>sourceSize</key>
                <string>{143,75}</string>
            </dict>
            <key>score-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{143,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,75}}</string>
                <key>sourceSize</key>
                <string>{143,75}</string>
            </dict>
            <key>score-4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,75}}</string>
                <key>sourceSize</key>
                <string>{143,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TUTU.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fda2da7dbcdb154822d38f81c4cd9502$</string>
            <key>textureFileName</key>
            <string>TUTU.png</string>
        </dict>
    </dict>
</plist>
