<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4-0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,617},{155,199}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{155,199}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,826},{153,195}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,13},{153,195}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-0-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{147,195}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,6},{147,195}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-0-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,826},{153,195}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,13},{153,195}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-0-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,617},{155,199}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{155,199}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{147,195}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,6},{147,195}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-0-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,408},{147,197}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,3},{147,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-0-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{147,197}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,3},{147,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-0-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,209},{147,197}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{147,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-0-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,209},{147,197}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{147,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-0-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,209},{147,197}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{147,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-0-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{147,197}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,3},{147,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-0-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,408},{147,197}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,3},{147,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,209},{155,199}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{155,199}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,416},{155,199}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{155,199}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,625},{155,199}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{155,199}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,416},{155,199}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{155,199}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,209},{155,199}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{155,199}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{199,205}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{199,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{195,205}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{195,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{195,205}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{195,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{199,205}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{199,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{195,205}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{195,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,832},{183,203}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{183,203}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{191,205}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{191,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,832},{183,203}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{183,203}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{191,205}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{191,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{195,205}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{195,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{195,205}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{195,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{199,205}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{199,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{195,205}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{195,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,832},{183,203}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{183,203}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{191,205}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{191,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,418},{189,205}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{189,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,209},{187,205}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{187,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,207}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{185,207}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{185,205}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{185,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,625},{189,205}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{189,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{189,205}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,12},{189,205}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-4-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,818},{143,199}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,14},{143,199}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,410},{141,199}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,13},{141,199}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,400},{141,197}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{141,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,607},{141,197}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{141,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{141,197}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{141,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>4-4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,201},{141,197}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{141,197}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player-4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b1b3bd8ef545ce44511a3924c875d72$</string>
            <key>textureFileName</key>
            <string>player-4.png</string>
        </dict>
    </dict>
</plist>
